* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
   font-family: "Lato", sans-serif;
}

/* mar ups */
.bg-primary {
    background-color: #e5345b !important;
  }
  .btn:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
  }
  .btn:not(.nav-btns button):hover {
    background-color: #ffa500;
    color: #fff;
    border-color: #ffa500;
  }

/* Navbar */
#navbar {
  background: #f9f9f9;
}
#logo {
  font-size: 36px;
  font-weight: 550;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
#logo span {
  color: #ffa500;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28165, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav{
    margin-left: 20px;
}
.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5 ease;
}
.nav-item .nav-link:hover{
    background: #ffa500;
    color: white;
}
#navbar form button{
    background: #ffa500;
    color: black;
    border: none;
}
#navbar form button:hover{
    background: black;
    color: white;
}

/* Home Section */
.home{
    width: 100%;
    height: 120vh;
    background-image: url(images/bg3.jpg);
       background-repeat: no-repeat;
    background-size: cover;
    
}
.home .content{
    text-align: center;
    padding-top: 200px;
}
.home .content h5{
    color: white;
    font-size: 43px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
}
.home .content h1{
    color: white;
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
}
.changecontent::after{
    content: '';
    color: #ffa500;
    text-shadow: 0px 1px 1px black;
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "France";}
    10%{content: "Spain";}
    20%{content: "United States";}
    30%{content: "China";}
    40%{content: "Ghana";}
    50%{content: "Saudi Arabia";}
    60%{content: "Italy";}
    70%{content: "India";}
    80%{content: "Turkey";}
    90%{content: "United Kingdom";}
    100%{content: "Nigeria";}
}
.home .content p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    margin-bottom: 30px;
}
.home .content .btn{
    padding: 10px 15px;
    background:  #ffa500;
    color: white;
    letter-spacing: 2px;
    font-weight: 550;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5S;
    border: #ffa500;

}
.home .content .btn:hover{
    background: black;
    color: white;
}

/* Book */
.book{
    background: #f9f9f9;
    padding: 50px;
}
.main-text h1{
    text-align: center;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
}
.main-text h1 span{
    color: #ffa500;
}
.book .card{
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px black;
}
.book .row{
    margin-top: 30px;
}
.book form input{
    padding: 10px;
    color: black;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px -6px black;
}
.book form textarea{
    border: none;
    border-radius: 10px;
    resize: none;
    box-shadow: 0px 5px 5px -6px black;
    height: 200px;
}
.book .submit{
    width: 160px;
    font-size: 16px;
    font-weight: 550;
    background: #ffa500;
    color: white;
    margin-top: 10px;
    transition: 0.5s;
}
.book .submit:hover{
    width: 180px;
}

/* Packages Section */
 .main-txt h1{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
 }
 .main-txt h1 span{
    color: #ffa500;
 }
 .packages .card{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
 }
 .packages .card img{
    border-radius: 5px;
 }
 .packages .card .card-body{
    background: transparent;
 }
 .packages .card .card-body h3{
font-size: 25px;
font-weight: 600;
 }
 .packages .card .card-body p{
    font-size: 15px;
 }
 .checked{
    color: #ffa500;
 }
 .star i{
    font-size: 15px;

 }
 .packages .card .card-body h6{
    font-size: 20px;
 }
 .packages .card .card-body a{
    padding: 10px;
    text-decoration: none;
    background: #ffa500;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
 }
 .packages .card .card-body a:hover{
    background: black;
    
 }